<div class="container">
    <ng-select  [items]="books$ | async"
                id="search-bar"
                bindLabel="title"
                bindValue="id"
                class="custom"
                placeholder="Search by book title, author, category, etc..."
                [hideSelected]="true"
                [loading]="loading"
                [typeahead]="booksInput$"
                (change)="onChange($event)">
                <ng-template ng-option-tmp let-item="item">
                    <img *ngIf="item.imageLinks.smallThumbnail" height="15" width="15" [src]="item.imageLinks.smallThumbnail" />
                    {{item.title}} <span *ngIf="item.authors">by {{item.authors}}</span>
                </ng-template>
    </ng-select>
</div>