<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px" class="container" *ngIf="book">
<mat-card class="card left">
  <img mat-card-image src="{{book.imageLinks.small || book.imageLinks.thumbnail}}" alt="Image Not Found">
  <mat-card-actions>
    <button mat-button (click)="goBack()">GO BACK</button>
    <button *ngIf="!inList" mat-button (click)="add()">ADD TO MY LIST</button>
  </mat-card-actions>
</mat-card>

<mat-card class="card-description">
    <mat-card-header>
      <mat-card-title><h2>{{book.title}}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div [innerHTML]="book.description"></div>
    </mat-card-content>
</mat-card>
</div>