/* small-default */

.container.main {
    height: 150vh;
}
.parallax {
    /* The image used */
    background-image: url('../../assets/img/white-book.jpg');
    /* Full height */
    height: 60%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#bannerContent {
    text-align: center;
}

.container.middle {
    color: whitesmoke;
    background-color:#673ab7;
    z-index: 2;
    padding: 5%;
}

#middleText {
    z-index: 2;
    text-align: center;
}

.middle img {
    z-index: 2;
}
