<div class="container">
  <div class="parallax"></div>
  <div id="fixedText">
    <h2>Keep Your Favorite Books Alive</h2>
  </div>
  <div class="middle" fxLayout="row" fxLayoutAlign="center center">
    <span></span>
    <span id="middleText" fxFlex="20">
      <h2>Get the most out of your reading experience.</h2> 
      <p>Keep notes for your favorite books and have them sent to you periodically</p>
    </span>
    
    <img [src]="'../../assets/img/notebook.jpg'">
    <span></span>
  </div>
  
  <div class="parallax"></div>
</div>
