
<div class="container main" fxLayout="column">
  <div fxLayout class="parallax">
    <div id="bannerContent" fxFlex="66%" fxLayoutAlign="center center" fxFlexOffset="15%" fxLayout="column">
        <h2>Keep Your Favorite Books Alive</h2>
        <button mat-button (click)="authService.login()">START NOW</button>
    </div>
  </div>
  <div class="container middle" fxFlex fxLayout.lt-md="column" fxLayoutAlign.lt-md="space-around center" fxLayoutGap="5%" fxLayoutAlign="center center">
    <span fxFlex="30%" fxLayout="column" id="middleText" fxLayoutAlign="center center">
      <h2>Get the most out of your reading experience.</h2>
      <p>Keep notes for your favorite books and have them sent to you periodically</p>
    </span>
    <img fxFlex.lt-md="30%" fxFlex="20%" [src]="'../../assets/img/notebook.svg'">
  </div>
</div>
